/*Style Contenedor*/

.nav-container {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px auto;
    box-sizing: border-box;
    padding: 10px 0 0 10px;
    border-radius: 40px;
    border: 0px;
}

.header {
    width: 50%;
    margin: 0px auto;
    background: linear-gradient(-30deg, #1e5078 0, #152d46 100%);
    padding-top: 2vw;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
}

/* --  STYLE CONTENIDO MENU --*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    text-align: center;
    padding: 0.001vw;
}

.navbar li :hover {
    color: rgba(255, 255, 255, 1);
}

.nav li:hover {
    border-bottom: solid #06c;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: rgb(211, 208, 208);
    padding: 10px;
}

.selected {
    font-weight: bold;
    border-bottom: solid;
    color: #06c;
}

/* --  TERMINA CONTENIDO MENU --*/